.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: palevioletred;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 2rem;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
  font-family: "Lexend";
  font-size: 14px;
}

.modal button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

h1{
  max-width: 50%;
  margin: 4rem auto 2rem auto;
  text-align: center;
  }

h3{
  max-width: 50%;
  font-family: "YaleItalic";
  font-size: 1.4rem;
  margin: 2rem auto 2rem auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #00356B;
  animation: fadeIn 2s ease-in;
  }

p{
  max-width: 50%;
  font-family: "Lexend";
  font-weight: 250;
  margin: 0 auto 2rem auto;
  font-size: 19px;
}

#scrolly {
  position: relative;
  padding: 1rem;
}

.scrolly-overlay {
  position: relative;
  padding: 0;
  max-width: 35rem;
  margin-left: 2px;
  margin-right: auto;
}

#scrolly2 .scrolly-overlay {
  margin-left: auto;
  margin-right: 2px;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 0;
  height: 100vh;
  /* Center everything inside */
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.step {
  margin: 0 auto 2rem auto;
  margin-bottom: 25rem;
  background-color: #eee;
  background-color: #fff;
  color: black;
  text-align: center;
}

.step p {
  padding: 1rem;
  font-size: 1.25rem;
  border: black;
}

#zoomBox {
    overflow: clip;    
    margin-left: 44vw !important;
    max-width: 53vw !important;
    max-height: none !important;
}

#zoomBox2 {
    overflow: visible;
    margin-right: 44vw !important;
    max-width: 50vw !important;
    max-height: 50vh;
    object-fit: contain;
    width: auto;
}

.photoDiv {
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
  display: block;
  transition:
    margin 1.5s 0s,
    transform 2.5s 0s;
}

/* When it's less than 700 pixels wide, do normal scrollytelling */
@media only screen and (min-width: 700px) {
  #scrolly.side-by-side {
    display: flex;
  }

  #scrolly.side-by-side > div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75em;
  }

  #scrolly.side-by-side .scrolly-overlay {
    margin-top: 70vh;
    order: 0;
    /* Change these to adjust sizing options */
    min-width: 15rem;
    max-width: 20rem;
  }

  #scrolly.side-by-side .sticky-thing {
    order: 1;
    flex-grow: 2;
  }
}

/* Animation fade */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Fonts! */
@font-face {
  font-family: "Yale";
  src: url("Yale2024-Roman.otf");
}

@font-face {
  font-family: "YaleItalic";
  src: url("Yale2024-BoldItalic.otf");
}

.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
